<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"		
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/tx	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd		
	" default-lazy-init="true">

	<!-- 事务管理器 -->
	<bean id="transactionManager" 
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
		<!-- 提交失败则回滚 -->
		<property name="rollbackOnCommitFailure" value="true" />
		<property name="defaultTimeout" value="20" />
	</bean>
	
	<!-- 事务通知 (MySql) -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="required*" propagation="REQUIRED" />
			<tx:method name="requiresNew*" propagation="REQUIRES_NEW" />
			<tx:method name="nested*" propagation="NESTED" />	
			<tx:method name="supports*" propagation="SUPPORTS" />
			<tx:method name="notSupported*" propagation="NOT_SUPPORTED" />			
			<tx:method name="mandatory*" propagation="MANDATORY" />
			<tx:method name="never*" propagation="NEVER" />	
			<!-- 配合测试使用，启用事务 -->
			<tx:method name="call*WithTransaction" propagation="REQUIRED" />			
			<!-- 其他的为只读 -->
			<tx:method name="*" read-only="true" propagation="NOT_SUPPORTED" />
		</tx:attributes>
	</tx:advice>	

	<!-- 事务AOP配置 -->
	<aop:config proxy-target-class="true">
		<aop:pointcut id="transactionPointCut" expression="execution(* com.hua.service..*.*(..))" />
		<!-- 引用上面的切点 -->
		<aop:advisor advice-ref="txAdvice" pointcut-ref="transactionPointCut" order="2" />
	</aop:config>
	


</beans>
