<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/jdbc	http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
	" default-lazy-init="true">
	
	
	<!-- 数据连接池 dbcp2 -->
	<!-- dataSource: c3p0 -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${driverClass}" />
		<property name="url" value="${jdbcUrl}" />
		<property name="username" value="${user}" />
		<property name="password" value="${password}" />
		<property name="initialSize" value="${initialPoolSize}" />
		<!-- 最小空闲连接数 -->		
		<property name="minIdle" value="50" />
		<!-- 最大空闲连接数 -->
		<property name="maxIdle" value="200" />
		<!-- 一个连接的生命周期，单位: 毫秒 -->
<!-- 		<property name="maxConnLifetimeMillis" value="10000" /> -->
		<!--  -->
		<property name="maxWaitMillis" value="10000" />
		<!-- 连接关闭后自动提交
			注意 c3p0的这个自动提交属性定设置为false并没有生效，在没有事务的情况下，
			依然提交了事务，因此选择BasicDataSource才是正确的选择
			注意: 使用了dbcp数据源之后，直接在数据源获取数据库连接的时候设置
			自动提交为false，则可以验证事务的相关特征.
			为了方便navicat等客户端操作sql，还是需要将autocommit设置为1的状态
			而在数据源层面设置关闭自动提交即可.			
		-->
		<property name="defaultAutoCommit" value="false" />
		<!-- 默认事务隔离级别，数据库连接 4-可重复读 -->
		<property name="defaultTransactionIsolation" value="4" />
	</bean>	
	
</beans>
